@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Londrina Solid';
  background-color: var(--default-bg);
}

:root {
  --column: 16;
  --bg: rgb(51, 164, 90);
  --preview: black;
}

h1 {
  font-size: 3rem;
  color: black;
  text-align: center;
  margin-top: 30px;
}

input[type='button'] {
  padding: 5px 15px;
  font-family: inherit;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  cursor: pointer;
}

input[type='button']:hover {
  background-color: black;
  border: 2px solid white;
  color: white;
}

input[type='button']:active {
  transform: translateY(5px);
}

.grid-container {
  background-color: white;

  border: 3px solid orange;

  padding: 0;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  grid-gap: 1px;
}

.grid-container > div {
  color: black;
  border: 1px solid black;
}

.rgb-selector-container > input {
  display: block;
}

#color-preview {
  color: white;
  background-color: var(--preview);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

#color-preview:active {
  transform: scale(1.1);
}

.main-container {
  border: solid 3px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-container {
  border: solid 3px red;
}

.buttons-container {
  border: solid 1px black;
}

.rgb-selector-container {
  border: solid 1px black;
}

.color-palette-container {
  border: solid 1px black;
}
