@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Londrina Solid';
  background-color: var(--default-bg);
}

:root {
  --column: 16;
  --bg: rgb(51, 164, 90);
  --preview: black;
}

.title-text {
  display: inline-block;
  font-size: 2rem;
  color: black;
  background-color: white;
  margin: 25px auto 10px 20px;
}

.title-text:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px rgb(187, 187, 187);
}

.title-text:active {
  transform: translateY(5px);
}

.grid-container {
  padding: 0;
  min-width: 600px;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  grid-gap: 1px;
}

.grid-container > div {
  color: black;
  border: 1px solid black;
}

.rgb-selector-container > input {
  display: block;
}

#color-preview {
  color: white;
  background-color: var(--preview);
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 5px 3px;
  margin-top: 25px;
  border: 2px solid black;
}

#color-preview:active {
  transform: scale(1.1);
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.tools-container {
  width: 180px;
}

/* Dimension Input */
.dimension-input-container {
  margin-top: 10px;
}

#dimension-input {
  margin: 5px 2px;
}

#dimension-value {
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 3px;
}

/* Buttons  */
.buttons-container {
  display: grid;
  grid-row-gap: 15px;
  margin-top: 70px;
  margin-left: 2px;
}

input[type='button'] {
  font-family: inherit;
  font-size: 20px;
  background-color: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;

  width: min-content;
}

input[type='button']:hover {
  background-color: black;
  color: white;
}

input[type='button']:active {
  transform: translateY(5px);
}

/* RGB input */
.rgb-selector-container {
  display: flex;
  align-items: center;
  width: 200px;
  margin-top: 50px;
}

.rgb-selectors {
  display: flex;
  flex-direction: column;
  width: 100px;
}

label {
  margin: 3px 5px;
  font-size: 18px;
}

input[type='range'] {
  max-width: 100px;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid black;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: black;
  border: 2px solid black;
}
